:root {
  --dark: #002c5a;
  --light: #00b5dd;
  --black: #000000;
  --white: #ffffff;
  --grey: grey;
  --darkgrey: darkgrey;
  --lightgrey: lightgrey;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  font-family: "Futura LT Condensed", sans-serif;
  font-size: 2.5rem;
  transition: 0.25s ease-in-out;
  background: var(--white);
  color: var(--dark);
}
textarea,
button,
input {
  font-family: "Futura LT Condensed", sans-serif;
  font-size: 2.5rem;
  border-radius: 15px;
  padding: 1.5rem;
  margin: 10px;
  background: var(--dark);
  color: var(--light);
  border: 5px double var(--white);
  box-shadow: 1px 1px 5px var(--dark);
}
input {
  width: 100px;
  text-align: center;
}
textarea {
  resize: none;
}
button {
  padding-right: 5rem;
  padding-left: 5rem;
  position: relative;
  top: 0px;
  transition: 0.25s ease-in-out;
}
button:hover {
  cursor: pointer;
  top: -5px;
}
label {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 10px auto;
}
.dates-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  align-items: start;
  justify-items: stretch;
  justify-content: space-evenly;
  grid-gap: 15px;
  width: 95%;
}
.date-column {
  max-width: 100%;
}
.date-title {
  margin: 5px;
  font-size: 2rem;
}
.event-container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.event {
  margin: 5px;
  width: 100%;
  min-width: 300px;
  min-height: 105px;
  position: relative;
  top: 0px;
  transition: 0.25s ease-in-out;
  background: var(--dark);
  color: var(--white);
  border: 1px solid var(--white);
  box-shadow: 1px 1px 5px var(--dark);
}
.event:hover {
  cursor: pointer;
  top: -10px;
}
.event-topline {
  display: flex;
  flex-direction: row;
}
.event-title,
.event-time,
.event-location {
  margin: 0px 10px;
  text-align: left;
}
.event-title {
  max-height: 150px;
}
.event-location {
  color: var(--light);
}
.admin {
  position: absolute;
  bottom: 7.5px;
  right: 7.5px;
  display: flex;
  flex-direction: row;
}
svg {
  transition: 0.5s ease-in-out;
  margin: 0px 5px;
}
svg:hover {
  cursor: pointer;
  fill: var(--grey) !important;
  transform: rotate(15deg);
}
.admin-controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
::-webkit-scrollbar {
  width: max(0.5vh, 0.5vw);
}

::-webkit-scrollbar-track {
  background: var(--lightgrey);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 10px;
}
