:root {
  --dark: #282c34;
  --light: #ffffff;
  --grey: grey;
  --darkgrey: darkgrey;
  --lightgrey: lightgrey;
  --darkblue: #002c5a;
  --lightblue: #00b5dd;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  font-family: "Futura LT Condensed", sans-serif;
  font-size: 2.5rem;
  transition: 0.25s ease-in-out;
}
textarea,
button,
input {
  font-family: "Futura LT Condensed", sans-serif;
  font-size: 2.5rem;
  border-radius: 15px;
  padding: 1.5rem;
  margin: 10px;
}
textarea {
  resize: none;
}
button {
  padding-right: 5rem;
  padding-left: 5rem;
  position: relative;
  top: 0px;
  transition: 0.25s ease-in-out;
}
button:hover {
  cursor: pointer;
  top: -5px;
}
label {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 10px auto;
}
.toggle {
  margin: -10% 15px 10px;
}
.toggle input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.toggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: 200px;
  height: 100px;
  display: block;
  border-radius: 100px;
  position: relative;
}
.toggle label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background: var(--grey);
  border-radius: 90px;
  transition: 0.3s;
}
.toggle input:checked + label {
  background: var(--darkgrey) !important;
}
.toggle input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
  background: var(--lightgrey);
}
.toggle label:active:after {
  width: 130px;
}
.dates-container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 50px 5px 10px;
}
.date-column {
  margin: 20px;
}
.event-container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 50px 5px 10px;
}
.event {
  margin: 0px 1%;
  width: 100%;
  min-width: 300px;
  min-height: 100px;
  position: relative;
  top: 0px;
  transition: 0.25s ease-in-out;
}
.event:hover {
  cursor: pointer;
  top: -10px;
}
.event-topline {
  display: flex;
  flex-direction: row;
}
.event-title,
.event-time,
.event-location {
  padding: 5px;
  margin: 5px;
  text-align: left;
}
.admin {
  position: absolute;
  bottom: 7.5px;
  right: 7.5px;
  display: flex;
  flex-direction: row;
}
svg {
  transition: 0.5s ease-in-out;
  margin: 0px 5px;
}
svg:hover {
  cursor: pointer;
  fill: var(--grey) !important;
  transform: rotate(15deg);
}
.admin-controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
::-webkit-scrollbar {
  width: max(0.5vh, 0.5vw);
}

::-webkit-scrollbar-track {
  background: var(--lightgrey);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 10px;
}
