:root {
  --dark: #282c34;
  --light: #ffffff;
  --grey: grey;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  font-family: "Futura LT Condensed", sans-serif;
  font-size: 2.5rem;
  transition: 0.5s ease-in-out;
}
textarea,
button,
input {
  font-family: "Futura LT Condensed", sans-serif;
  font-size: 2.5rem;
  border-radius: 15px;
  padding: 1.5rem;
  margin: 10px;
}
button {
  padding-right: 5rem;
  padding-left: 5rem;
}
.event-container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.event {
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 1px 1px 1px white;
  margin: 0px 10px;
  width: 300px;
  min-height: 400px;
  position: relative;
  top: 0px;
  transition: 0.5s ease-in-out;
}
.event:hover {
  top: -10px;
}
.title,
.date {
  padding: 5px 10px;
}
.admin {
  margin-left: 92.5%;
  display: flex;
  flex-direction: row;
}
svg {
  transition: 0.5s ease-in-out;
  margin: 0px 5px;
}
svg:hover {
  cursor: pointer;
  fill: var(--grey) !important;
  transform: rotate(15deg);
}
.admin-controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
